<ion-view view-title="Автомобиль" ng-controller="Step1autoSelect as vm">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-select">
                <div class="input-label">
                    Выберите машину:
                </div>
                <select ng-options="auto as auto.gos_numb for auto in vm.autos" ng-model="vm.userAuto">
                </select>
            </label>
        </div>
        <div class="button-bar">
            <a class="button">Пропустить</a>
            <a class="button button-balanced"
               ng-class="{'disabled': !vm.userAuto.id}"
               href="#/tab/guru/km" ng-click="vm.autoSelected()">Далее</a>
        </div>
    </ion-content>
</ion-view>
