<ion-view view-title="Введите пробег автомобиля" ng-controller="Step2millage as vm">
    <ion-content>
        <div class="list list-inset">
            <!--<h5>Пробег Вашего автомобиля:</h5>-->
            <label class="item item-input">
                <input type="number" placeholder="В километрах" ng-model="vm.userAuto.distance">
            </label>
        </div>
        <div class="button-bar">
           <!-- <a class="button">Пропустить</a>-->
            <a class="button button-balanced"
               ng-class="{'disabled': !vm.userAuto.distance}"
               href="#/tab/guru/whosefault"
               ng-click="vm.setMillage()">Далее</a>
        </div>
    </ion-content>
</ion-view>
