<ion-view view-title="Аккаунт" ng-controller="AccountCtrl as vm">
    <ion-content>
        <ion-list>
            <!--<ion-toggle ng-model="settings.enableFriends">
                Enable Friends
            </ion-toggle>-->
            <ion-item class="item-divider">
                Мои данные
            </ion-item>
            <ion-item ng-if="vm.userInfo.account_surname || vm.userInfo.account_name || vm.userInfo.account_patronymic">
                <p><span class="item-note-left">ФИО</span></p>
                {{vm.userInfo.account_surname}} {{vm.userInfo.account_name}} {{vm.userInfo.account_patronymic}}
            </ion-item>
            <ion-item ng-if="vm.userInfo.login">
                <p><span class="item-note-left">email</span></p>
                {{vm.userInfo.login}}
            </ion-item>
            <ion-item ng-if="vm.userInfo.nick">
                <p><span class="item-note-left">Ник</span></p>
                {{vm.userInfo.nick}}
            </ion-item>
            <ion-item ng-if="vm.userInfo.contact_name && vm.userInfo.contact_name !== 'empty'">
                <p><span class="item-note-left">Контактное лицо</span></p>
                {{vm.userInfo.contact_name}}
            </ion-item>
            <ion-item ng-if="vm.userInfo.fact_addr && vm.userInfo.fact_addr !== 'empty'">
                <p><span class="item-note-left">Физический адрес</span></p>
                {{vm.userInfo.fact_addr}}
            </ion-item>
            <ion-item ng-if="vm.userInfo.jure_addr && vm.userInfo.jure_addr !== 'empty'">
                <p><span class="item-note-left">Юридический адрес</span></p>
                {{vm.userInfo.jure_addr}}
            </ion-item>
            <!--<ion-item class="item-icon-left">
                <i class="icon ion-home"></i>
                Юридический адрес
                <p><span class="item-note">г. Нижний Новогород, ул. Парковая д. 14 оф. 1</span></p>
            </ion-item>-->
            <ion-item ng-if="vm.userInfo.discount">
                <p><span class="item-note-left">Скидка</span></p>
                {{vm.userInfo.discount}}
            </ion-item>

            <ion-item class="item-divider">
                Мои автомобили
            </ion-item>

            <ion-item class="item-icon-left item-icon-right" href="#/tab/account/car/{{auto.id}}" ng-repeat="auto in vm.userAutos">
                <i class="icon ion-model-s" ng-class="{'balanced': auto.isActive}"></i>
                <p><span class="item-note-left">Модель</span></p>
                {{auto.model}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <!--<ion-item class="item-icon-left item-icon-right" href="#/tab/account/car/1">
                <i class="icon ion-model-s"></i>
                <p><span class="item-note-left">Модель</span></p>
                XC80
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-left item-icon-right" href="#/tab/account/car/1">
                <i class="icon ion-model-s"></i>
                <p><span class="item-note-left">Модель</span></p>
                Audi q7
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>-->


            <ion-item class="item-divider">
                Дополнительно
            </ion-item>

            <ion-item class="item-icon-left item-icon-right" href="#//tab/services">
                <i class="icon ion-medkit"></i>
                Вызвать эвакуатор
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="vm.backToGuru()">
                Выход
                <i class="icon ion-log-out"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
