<ion-view view-title="Guru">
    <ion-content class="padding">
        <div class="list list-inset">
            <h4>Выберите неисправность:</h4>
            <div class="list">

                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        Щелчки
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        Гул/шум
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

            </div>
        </div>
        <div class="button-bar">
            <a class="button">Пропустить</a>
            <a  class="button button-balanced">Далее</a>
        </div>
    </ion-content>
</ion-view>
